:root {
    --darker-pink: #eb6383;
    --light-orange: #fa9191;
    --light-yellow: #ffe9c5;
    --main-light-green: #b4f2e1;
    --main-dark: #333;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
}

body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(var(--light-orange), var(--light-yellow));
}

form {
    color: white;
    height: 100%;
    width: 50%;
    margin: auto auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form * {
    margin: .5em 0;
}

input {
    padding: 1em;
    border: 1px solid white;
    border-radius: 15px;
}

label {
    font-size: 1.5rem;
}

.dFlex-fdCol {
    display: flex;
    flex-direction: column;
}

select {    
    margin-bottom: 1em;
    padding: 1em;
    width: 100%;
    border: none;
    border-radius: 15px;
    outline: none;
}

.form-button {
    width: 190px;
    margin: 0 auto;
    padding: 1em;
    border: 1px solid var(--darker-pink);
    border-radius: 15px;
    font-weight: 800;
    cursor: pointer;
    color: white;
    background-color: var(--darker-pink);
    outline: none;
}

.fa-chevron-circle-right {
    margin-left: 1em;
}

.goodWithDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.goodWithDiv > * {
    margin: 0 .4em; 
}

.goodWithDiv > label {
    font-size: .9em;
}