.swiper-container {
    height: 100%;
    width: 40%;
}

.swiper-slide{
    display:flex;
    justify-content: center;
    align-items: center;

}

main {
    margin-top: 0;
}

.swiper-pagination-bullet{
    background-color:rgb(167, 167, 167);
}

.swiper-button-next{
    color: #38b2ac;
}

.swiper-button-prev{
    color: #38b2ac;
}

.fas {
    color: #38b2ac;
}

.iconContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    place-items: center;
}

.icon {
    color: white;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.icon:hover {
    transform: scale(1.2);
    transition: .2s ease-in-out;
}

a {
    transition: transform .2s ease-in-out;
}

a:hover {
    transform: scale(1.1);
    transition: .2s ease-in-out;
}

.logo {
    font-family: 'Pacifico', serif;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.logo:hover {
    transform: scale(1.05);
    transition: .2s ease-in-out;
    color: #38b2ac;
}

.search-btn {
    transition: .2s ease-in-out;
}

.search-btn:hover {
    transform: scale(1.05);
    transition: .2s ease-in-out;
}

nav {
    display: none;
}