.swiper-container {
    height: 100%;
    width: 100%
}
.swiper-slide{
    background-color:lightblue;
    display:flex;
    justify-content: center;
    align-items: center;

}
.swiper-pagination-bullet{
    background-color:rosybrown;
}
.swiper-button-next{
    color:purple;
}
.swiper-button-prev{
    color:purple;
}
.pet-img{
    width: 100%;
    height:50%;
}
.fa-heart{
    color: rgb(189, 30, 104);
}
.fa-times-circle{
    color:Red
}
.save-pet{
    background-color: lightblue;
    border: hidden;
}
.clear-pet{
    background-color: lightblue;
    border: hidden;
}

.fas {
    color: #38b2ac;
}

.iconContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    place-items: center;
}

.icon {
    color: white;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.icon:hover {
    transform: scale(1.2);
    transition: .2s ease-in-out;
}

a {
    transition: transform .2s ease-in-out;
}

a:hover {
    transform: scale(1.1);
    transition: .2s ease-in-out;
}

.logo {
    font-family: 'Pacifico', serif;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.logo:hover {
    transform: scale(1.05);
    transition: .2s ease-in-out;
    color: #38b2ac;
}

.search-btn {
    transition: .2s ease-in-out;
}

.search-btn:hover {
    transform: scale(1.05);
    transition: .2s ease-in-out;
}

nav {
    display: none;
}